* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #222f63;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  line-height: 1.6;
}

form {
  background: #2c3e50;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 300px;
}

h1 {
  margin-bottom: 20px;
  font-size: 1.5em;
}

label {
  display: block;
  margin: 10px 0 5px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #34495e;
  border-radius: 5px;
  background: #34495e;
  color: #ecf0f1;
}

button {
  width: 100%;
  padding: 10px;
  background: #27ae60;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background: #2ecc71;
}

p {
  margin-top: 10px;
  font-size: 0.9em;
}

a {
  color: #1abc9c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
